.CommentContent__wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 22px;
  

  position: relative;
}

.CommentContent {
  width: 333px;
  height: 100%;

  margin-left: 21px;
  font-size: 21px;
  line-height: 38px;
  color: #fff;

  position: relative;

  font-family: 'Source Han Sans CN';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.CommentContent__interior {
  padding: 10px;
  width: 100%;
  min-height: 278px;
  max-height: 304px;
  box-sizing: border-box;
  overflow: auto;
  text-indent: 2em;
}

.CommentContent__interior::-webkit-scrollbar {
  display: none;
}

.CommentContent__logo {
  width: 252px;

  position: absolute;
  bottom: 50px;
  right: 30px;

  cursor: pointer;
}

.CommentContent__quote1 {
/* “ */
  width: 21px;
  height: 62px;
  position: absolute;
  top: -5px;
  left: -21px;

  font-family: 'Showcard Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  /* identical to box height */
  text-align: justify;
  letter-spacing: -0.01em;

  background: linear-gradient(180deg, #EF9F6C 0%, #E6672A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 0px 10px rgba(239, 159, 108, 0.3);
}

.CommentContent__quote2 {
  height: 62px;
  position: absolute;
  bottom: -5px;
  right: -21px;

  font-family: 'Showcard Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  /* identical to box height */
  text-align: justify;
  letter-spacing: -0.01em;

  background: linear-gradient(180deg, #EF9F6C 0%, #E6672A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 0px 10px rgba(239, 159, 108, 0.3);
}
