.PageTitle {
  /* Group 11 */

  position: absolute;
  width: 620px;
  height: 72px;
  left: calc(50% - 620px/2);
  top: 54px;

}

.PageTitle__logo {
  width: 66px;
  height: 66px;
}

.PageTitle__title {
  position: absolute;
  left: 99px;
  top: 0;
  height: 72px;

  letter-spacing: 4px;
  text-wrap: nowrap;



  font-family: 'Source Han Sans CN';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  text-align: justify;
  letter-spacing: -0.01em;

  color: #FFFFFF;
}

.PageTitle__subtitle {
  position: absolute;
  left: 2px;
  top: 68px;
  height: 19px;
  line-height: 19px;

  font-size: 19px;
  font-weight: bold;
  text-wrap: nowrap;

  letter-spacing: 2px;

  font-family: 'CKTKingKong';
}
