.Mask {
  position: absolute;
  width: 200vw;
  height: 200vh;
  background-color: #000;

  animation: opactiyIn 0.5s forwards;
}

@keyframes opactiyIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
