.Analysis {
  width: 735px;
  position: relative;
}

.Analysis__spacing {
  height: 28px;
}

.RadarChartBoard {
  position: relative;
  top: 25px;
  width: 735px;
  height: 390px;
}

.CommentBoard {
  width: 735px;
  height: 387px;
}

.Battery--overall {
  position: absolute;
  left: 140px;
  top: 27px;
  cursor: pointer;
}

.divider {
  position: absolute;

  width: 664px;
  height: 0px;
  left: 32.5px;
  top: 78px;

  border: 1px solid rgba(255, 255, 255, 0.8);
}

.divider2 {
position: absolute;

  width: 664px;
  height: 0px;
  left: 32.5px;
  top: 560px;

  border: 1px solid rgba(255, 255, 255, 0.8);
}
