.BrightSpot {
  padding: 20px;
}

.BrightSpot__Title {
  font-size: 30px;
  font-weight: bold;

  color: #fff;

  margin-bottom: 15px;
}

.BrightSpot__Title--goodSent {
  margin-top: 15px;
}

.BrightSpot__goodWord {
  font-size: 22px;
  line-height: 30px;

  margin-bottom: 6px;
  width: fit-content;
  height: 26px;

  background-color: var(--good-sent-color);
}

.BrightSpot__goodSent {
  margin-bottom: 10px;
  font-size: 24px;
}

.BrightSpot__rehetoric {
  margin-left: 10px;
  color: var(--good-sent-color);
  font-size: 20px;
  font-weight: bold;
}
