.EssayDerivative {
  width: 428px;
}

.EssayDerivative__spacing {
  height: 28px;
}

.EssayDerivative__divider {
  height: 0px;
  width: 362px;
  margin-left: 31px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}